name: tagpr

on:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: "tagpr"
  cancel-in-progress: false

jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.TAGPR_APP_ID }}
          private-key: ${{ secrets.TAGPR_APP_PRIVATE_KEY }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: Songmu/tagpr@75738aa2880a03a1036bc5bd90ef49853427ec65 # v1.10.0
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
